#content-container {
    width: 90%;
    max-width: 700px;
    margin: 50px auto;

    .content-section{
        width: 100%;
        background-color: $card-bg-color;
        @extend .flex-container;
        @extend .apply-shadow;
    }

    #content-division {
        align-items: center;
        justify-content: center;

        & > div {
            @extend .flex-container;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            flex: 1 1 25%;
            height: 100px;
            text-align: center;
            font-family: $font;
            text-transform: uppercase;
            cursor: pointer;
            border-bottom: 4px solid $card-bg-color;
            @extend .smooth-animation;

            .division-name{
                font-weight: $light;
                color: $subdued-color;
                font-size: 0.9em;
            }

            .division-count {
                font-weight: $bold;
                color: $strong-color;
            }

            &.active, &:hover{
                border-color: $app-blue;
            }
        }
    }

    #articles-container{
        margin-top: 50px;
        flex-flow: column;

        .tweet{
            @extend .flex-container;
            padding: 30px;
            align-items: stretch;

            & > section {
                display: flex;
            }

            .user-dp-column{
                flex: 0 1 75px;
                justify-content: flex-end;
                padding: 0 15px 0 0;
            }

            .content-column{
                flex: 1 1;
                flex-flow: column;
            }
        } 
    }
}

.user-dp{
    @extend .circular-icons;
    background: url('../images/profile-dp.jpg');
    background-size: contain;
}

.content-column{
    font-family: $font;
    font-size: 0.9em;
    padding-left: 6px;
    & > div{
        @extend .flex-container;
    }

    .user-info{

        .tweet-time{
            flex: 1 1;
            text-align: right;
            color: $subdued-color;
            font-weight: $light;
        }

        .user-name{
            flex: 3 1;
            color: $strong-color;
            font-weight: $bold;

            .user-handle{
                color: $subdued-color;
                font-weight: $light;
                padding-left: 5px;
            }
        }
    }

    .tweet-content{
        color: $primary-color;
        margin-top: 10px;
    }

    .tweet-controls{
        margin-top: 15px;

         i{
             cursor: pointer;
             color: $subdued-color;
             @extend .smooth-animation;
             &:hover{
                 color: $primary-color;
             }
         }

        .right-expander-icon{
            flex: 1 1;
            text-align: right;

        }
        .left-control-stack{
            @extend .flex-container;
            flex: 5 1;

            i{
                margin-right: 10px;
            }
        }
    }


}