$bg-color: #f2eee8;
$card-bg-color: #fffbf5;
$app-blue: #80a8cc;
$subdued-color: #e5e5e5;
$primary-color: #939291;
$strong-color: #605e58;
$font: Roboto, sans-serif;
$bold: 500;
$regular: 400;
$light: 300;