$bg-color: #f2eee8;
$card-bg-color: #fffbf5;
$app-blue: #80a8cc;
$subdued-color: #d6d6d6;
$primary-color: #9e9d9c;
$strong-color: #605e58;
$green: #acd373;
$font: Roboto, sans-serif;
$bold: 500;
$regular: 400;
$light: 300;