#app-header {
  width: 100%;
  background-color: #fffbf5;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between; }
  #app-header .header-section {
    height: 100px; }
  #app-header #left-section, #app-header #right-section {
    flex: 1;
    margin: 0 10px;
    background-color: #fffbf5; }
  #app-header #center-section {
    flex: 0 0 100px;
    position: relative; }

#left-section #extreme-left-section {
  width: 100px;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #d6d6d6; }
  #left-section #extreme-left-section #extreme-left-link {
    background-color: #80a8cc;
    color: #fffbf5;
    text-align: center; }
    #left-section #extreme-left-section #extreme-left-link:hover {
      color: #80a8cc;
      background-color: #fffbf5;
      border-color: #80a8cc; }
#left-section #left-icon-list {
  list-style-type: none;
  margin-left: 10px; }
  #left-section #left-icon-list .left-icon-item {
    flex: 1;
    width: 80px;
    height: 100%;
    border-bottom: 1px solid #fffbf5; }
    #left-section #left-icon-list .left-icon-item.active, #left-section #left-icon-list .left-icon-item:hover {
      border-color: #80a8cc; }
    #left-section #left-icon-list .left-icon-item .circular-icons, #left-section #left-icon-list .left-icon-item #extreme-left-section #extreme-left-link, #left-section #extreme-left-section #left-icon-list .left-icon-item #extreme-left-link, #left-section #left-icon-list .left-icon-item #right-section #search-box #search-query, #right-section #search-box #left-section #left-icon-list .left-icon-item #search-query, #left-section #left-icon-list .left-icon-item .user-dp {
      text-align: center;
      color: #605e58;
      margin: auto;
      top: 50%;
      transform: translateY(-50%); }

#right-section {
  flex-flow: row-reverse; }
  #right-section #profile-dp {
    width: 100px;
    height: 100%; }
    #right-section #profile-dp #profile-link {
      width: 60%;
      height: 60%;
      display: block;
      margin: auto;
      border-radius: 50%;
      background: url("../images/profile-dp.jpg");
      background-size: contain; }
  #right-section #search-box {
    flex: 1;
    flex-flow: row-reverse;
    height: 100%;
    position: relative; }
    #right-section #search-box #search-query {
      margin: auto 0;
      margin-left: 20px;
      padding: 0 20px;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      color: #9e9d9c;
      font-size: 1em;
      background-color: #fffbf5; }
      #right-section #search-box #search-query:focus {
        outline: none;
        border-color: #9e9d9c;
        width: 100%;
        min-width: 200px;
        background-color: #fffcf8; }
      #right-section #search-box #search-query:hover {
        border-color: #9e9d9c; }
    #right-section #search-box #search-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 22px;
      color: #9e9d9c; }

#home-link {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #80a8cc; }

#content-container {
  width: 90%;
  max-width: 700px;
  margin: 50px auto; }
  #content-container .content-section {
    width: 100%;
    background-color: #fffbf5; }
  #content-container #content-division {
    align-items: center;
    justify-content: center; }
    #content-container #content-division > div {
      align-items: center;
      justify-content: center;
      flex-flow: column;
      flex: 1 1 25%;
      height: 100px;
      text-align: center;
      font-family: Roboto, sans-serif;
      text-transform: uppercase;
      cursor: pointer;
      border-bottom: 4px solid #fffbf5; }
      #content-container #content-division > div .division-name {
        font-weight: 300;
        color: #d6d6d6;
        font-size: 0.9em; }
      #content-container #content-division > div .division-count {
        font-weight: 500;
        color: #605e58; }
      #content-container #content-division > div.active, #content-container #content-division > div:hover {
        border-color: #80a8cc; }
  #content-container #articles-container {
    margin-top: 50px;
    flex-flow: column; }
    #content-container #articles-container .tweet {
      padding: 30px;
      align-items: stretch; }
      #content-container #articles-container .tweet > section {
        display: flex; }
      #content-container #articles-container .tweet .user-dp-column {
        flex: 0 1 75px;
        justify-content: flex-end;
        padding: 0 15px 0 0; }
      #content-container #articles-container .tweet .content-column {
        flex: 1 1;
        flex-flow: column; }

.user-dp {
  background: url("../images/profile-dp.jpg");
  background-size: contain; }

.content-column {
  font-family: Roboto, sans-serif;
  font-size: 0.9em;
  padding-left: 6px; }
  .content-column .user-info .tweet-time {
    flex: 1 1;
    text-align: right;
    color: #d6d6d6;
    font-weight: 300; }
  .content-column .user-info .user-name {
    flex: 3 1;
    color: #605e58;
    font-weight: 500; }
    .content-column .user-info .user-name .user-handle {
      color: #d6d6d6;
      font-weight: 300;
      padding-left: 5px; }
  .content-column .tweet-content {
    color: #9e9d9c;
    margin-top: 10px; }
  .content-column .tweet-controls {
    margin-top: 15px; }
    .content-column .tweet-controls i {
      cursor: pointer;
      color: #d6d6d6; }
      .content-column .tweet-controls i:hover {
        color: #9e9d9c; }
    .content-column .tweet-controls .right-expander-icon {
      flex: 1 1;
      text-align: right; }
    .content-column .tweet-controls .left-control-stack {
      flex: 5 1; }
      .content-column .tweet-controls .left-control-stack i {
        margin-right: 10px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #f2eee8; }

.flex-container, #app-header, #app-header #left-section, #app-header #right-section, #app-header #left-section > div, #app-header #right-section > div, #left-section #left-icon-list, #content-container .content-section, #content-container #content-division > div, #content-container #articles-container .tweet, .content-column > div, .content-column .tweet-controls .left-control-stack {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.circular-icons, #left-section #extreme-left-section #extreme-left-link, #right-section #search-box #search-query, .user-dp {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: block;
  border: 1px solid #d6d6d6;
  position: relative; }
  .circular-icons .fa, #left-section #extreme-left-section #extreme-left-link .fa, #right-section #search-box #search-query .fa, .user-dp .fa {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.apply-shadow, #app-header, #content-container .content-section {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.smooth-animation, #left-section #extreme-left-section #extreme-left-link, #left-section #left-icon-list .left-icon-item, #right-section #search-box #search-query, #content-container #content-division > div, .content-column .tweet-controls i {
  transition: all 0.3s; }

#app-container {
  min-width: 500px; }

@media (max-width: 750px) {
  #app-header #right-section {
    flex-basis: 100%; }
    #app-header #right-section #search-query {
      width: 100%;
      background-color: #fffcf8; } }

/*# sourceMappingURL=style.css.map */
